server:
  port: 9333

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tuchong
    username: root
    password: cy1999315acd
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    serialization:
      indent-output: true
  redis:
    port: 6379
    jedis:
      pool:
        max-active: 10
        min-idle: 5
        max-idle: 10
        max-wait: 2000
    timeout: 1000
    host: 127.0.0.1
  cache:
    type: redis
    cache-names: redisCache

  security:
    user:
      name: cy41
      password: 123456


mybatis:
  config-location: classpath:mybatis/config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml
  type-aliases-package: com.example.securitydemo.mybatis.entitys


logging:
  level:
    com.example.securitydemo: debug
